@import url(http://fonts.googleapis.com/css?family=Ubuntu);


body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}


h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

.form-group {
    display: block;
    margin-bottom: 1rem;
}

/* Стилизация меток */
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Стилизация полей ввода */
.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'] {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Стилизация ошибок формы */
.form-error {
    margin-top: 0.5rem;
    color: #e3342f;
    font-size: 0.875rem;
    text-align: left;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

# {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 50%;
    margin-right:-500px;
    overflow:hidden;
}
.wrapper {
    display: flex;
    background-color: red;
    flex-wrap: wrap;
}
.item {
    width: 400px;
    background-color: green;
    height: 100px;
}


.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

.ott.btn.btn-primary {
  background-color: #fd9476; /* цвет фона кнопки */
  color: white; /*цвет текста кнопки */
  border-color:  #fd9476;
}

.ott.btn.btn-primary:hover {
  background-color: #fd8868; /* Цвет фона кнопки при наведении */
  color: white; /* Цвет текста кнопки при наведении */
  border-color:  #fd8868;
}

.btn.btn-outline-custom{
  border-color:  #fd8868;
  color: #fd8868;
  background-color: #fff;
}

.btn.btn-outline-custom:hover {
  background-color: #fd8868 !important;
  color:  #fff !important;
}

.btn.btn-outline-custom2{
  border-color: #8daaa6;
  color: #8daaa6;
  background-color: #fff;
}

.btn.btn-outline-custom2:hover {
  background-color: #8daaa6; !important;
  color:  #fff !important;
}


.bg-custom {
  background-color: #8daaa6; /* Новый Цвет Фона */
}

/* Цвет фона для активного элемента пагинации */
.pagination .page-item.active .page-link {
  background-color: #fd9476;
  border-color: #fd9476;
}

/* Цвет фона и текста для обычных элементов пагинации */
.pagination .page-link {
  background-color: #ЦветФонаОбычный;
  color: #fd9476;
}

/* Цвет фона и текста при наведении на элемент пагинации */
.pagination .page-link:hover {
  background-color: #ЦветФонаПриНаведении;
  color: #fd8868;
}

.btn.btn-primary {
  background-color: #fd9476; /* цвет фона кнопки */
  border-color:  #fd9476;
}

.btn.btn-primary:hover {
  background-color: #fd8868 !important; /* Цвет фона кнопки при наведении */
  border-color: #fd8868 !important;
}

/* Стили для ряда */
.row {
    display: flex;
    flex-wrap: wrap; /* Добавляем перенос на новую строку */
    margin-right: -15px;
    margin-left: -15px;
}

/* Стили для карточки */
.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    overflow: hidden; /* Обрезаем содержимое карточки */
    margin-left: auto; /* Центрируем карточки */
    margin-right: auto;
}

/* Стили для изображения внутри карточки */
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Стили для текста карточки */
.card-body {
    padding: 1rem;
    flex-grow: 1;
}

/* Стили для футера карточки */
.card-footer {
    padding: 0.75rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid #dee2e6;
}

/* Устанавливаем минимальную ширину карточки для разных размеров экранов */
@media (min-width: 576px) {
    .card {
        min-width: 140px; /* Минимальная ширина карточки */
        max-width: none; /* Отменяем ограничение максимальной ширины */
    }
}

/* При достижении минимальной ширины переводим карточку на новую строку */
@media (max-width: 575.98px) {
    .col-6 {
        flex: 0 0 auto;
        width: 100%; /* Одна карточка занимает весь ряд на очень маленьких экранах */
    }
}

#header, #subheader, #content {
    padding-left: 10px; /* стандартный отступ для больших экранов */
    padding-right: 10px;
}

/* Стиль по умолчанию для текста в карточке */
.card-body {
    padding: 1rem;
    flex-grow: 1;
    font-size: 1rem; /* Или любой другой стандартный размер шрифта */
}
.card-title {
    font-size: 1.1rem;
}

/* Стиль для футера в карточке */
.card-footer {
    padding: 0.75rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid #dee2e6;
    font-size: 1.2rem; /* Меньший размер текста для футера, если нужно */
}

/* Адаптивный размер текста для средних экранов */
@media (max-width: 992px) {
    .card-body {
        font-size: 0.9rem; /* Немного уменьшаем текст */
    }
    .card-title {
    font-size: 1.05rem;
    }
    .card-footer {
        font-size: 1.1rem;
    }
}

/* Адаптивный размер текста для маленьких экранов */
@media (max-width: 768px) {
    .card-body {
        font-size: 0.9rem; /* Еще меньше */
    }
    .card-title {
    font-size: 1rem;
    }
    .card-footer {
        font-size: 1rem;
    }
}

/* Адаптивный размер текста для очень маленьких экранов */
@media (max-width: 576px) {
    .card-body {
        font-size: 0.85rem; /* Минимальный размер шрифта для маленьких устройств */
    }
    .card-title {
    font-size: 0.95rem;
    }
    .card-footer {
        font-size: 0.95rem;
    }
}

.custom-icon-size {
    margin: 2px 0 0 0px;
    font-size: 2rem; /* Устанавливаем размер иконки */
    line-height: 1; /* Устанавливаем фиксированную высоту строки */
    vertical-align: middle; /* Выравниваем иконку по вертикали */
}

.custom-icon-size2 {
    margin: 2px 0 0 0px;
    font-size: 2rem; /* Устанавливаем размер иконки */
    line-height: 1; /* Устанавливаем фиксированную высоту строки */
    vertical-align: middle; /* Выравниваем иконку по вертикали */
}

.mgr5{
    margin: 0 5px 0 0;
}

.nav-item {
    align-items: center; /* Центрирование содержимого элементов навбара по вертикали */
    display: flex;
}

.nav-link {
    display: flex;
    align-items: center;
}


.custom-a {
    color:#7b9d99;
}

.custom-a:hover, .custom-a:focus {
    color:#62847f;
}

.messages {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #c0392b;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    top: 20px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #ffffff;
    text-shadow: none;
    opacity: 1;
}

  @media (max-width: 768px) {
        .product-image {
            max-width: 100%; /* Ensure it's not larger than its parent */
            height: auto;    /* Maintain aspect ratio */
            max-height: 100px; /* Maximum height for the image on small screens */
        }
    }
    .status-wait {
    color: #ffc107;
    }
    .status-processing {
    color: #0d6efd;
    }
    .status-shipped {
    color: #198754;
    }
    .status-delivered {
     color: #6c757d;
     }

.custom-check{
    color: #fd9476;
}

.update-cart-form .input-group {
    max-width: 120px; /* или другой размер, который лучше подходит для вашего дизайна */
}

.update-cart-form .form-control {
    text-align: center; /* центрирование текста внутри поля ввода */
}

/* Стили для кнопки, если необходимо */
.update-cart-form .btn {
    padding: .25rem .5rem; /* уменьшение отступов кнопки */
}

.narrow-quantity {
    max-width: 60px; /* Или любая другая ширина, которая вам подходит */
}
